body{
	background-color:black;
	color:#555;
	
}


.container{
	padding-top:10px;
	margin-left:5%;
	margin-right:5%;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	width: 1180px;
	height:660px;
	background-repeat:no-repeat;
	color:white;
}


 #top-details a{
	padding-right:40px;
	padding-left:10px;
	float:right;
	top:1px;
	right:10px;
	text-decoration:none;
	color:white;
	display:block;
	opacity:.6;
	text-align:center;
	height:20px;
	width:40px;
}
.container hr{
	margin-top:25px;
	background-color:white;
}

 #top-details a:hover{
	margin:-right:2px;
	background-color:white;
	text-align:center;
	color:black;
	opacity:none;
	height:25px;
	width:50px;
	

}
#main-nav{
	
	
}

#main-nav a:visited{
	color:white;
}

#main-nav a h3:hover{
	color:black;
	text-align:center;
}

#main-nav h3{
	padding-top:0px;
	padding-left:15px;
	float:left	;
}

#main-nav ul{
	padding-top:3px;
	padding-right:20px;
	padding-left:10px;
	list-style:none;
}


#main-nav ul li{
	
	width: 100px;
	height:50px;
	background-color:black;
	opacity:.7;
	padding-right:25px;
	padding-left:10px;
	text-align:center;
	float:right;
}


#main-nav ul li a{
	width: 100px;
	height:30px;
	text-decoration:none;
	padding-top:20px;
	color:white;
	display:block;
}
#main-nav ul li a:hover{
	background-color:blue;
}
#main-nav ul li ul li{
	display:none;
	
}
#main-nav ul li ul {
	width: 110px;
}


#main-nav ul li:hover ul li{
	
	display: block;
	
}
.removefloat1{
	clear:both;
}

 #selector1{
	position:absolute;
	top:500px;
	left:850px;
	width:120px;
	height:100px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
	
} 
#selector2{
	position:absolute;
	top:500px;
	left:700px;
	width:120px;
	height:100px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
	
} 

.selector1_top{
	background-color:#9c93a0;
	text-align:center;
	position:top;
	color:black;
	width:120px;
	height:30px;
}
.selector1_down{
	width:120px;
	background-color:#9c93a0;
	height:70px;
	text-align:center;
	position:bottom;
}

#selector1 select{
	background-color:#9c93a0;
	float:right;
	color:black;
	width:120px;
	height:70px;
	border:none;
	font-family:arial;
	font-size:40px;
	text-align:center;
	
	-webkit-appearance:button;
}
#selector1 select option{
	background-color:green;
	font-size:34px;
	border:0px;
	
		
}

#selector2 select{
	background-color:#9c93a0;
	float:right;
	color:black;
	width:120px;
	height:70px;
	border:none;
	font-family:arial;
	font-size:40px;
	text-align:center;
	
	-webkit-appearance:button;
}
#selector2 select option{
	background-color:green;
	font-size:34px;
	border:0px;
	
		
}
		
#button_search_avialabilty{
	position:absolute;
	top:515px;
	left:1000px;
	width:160px;
	height:90px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
}
.container1{
	padding-top:10px;
	margin-top:20px;
	margin-left:5%;
	margin-right:5%;
	background-image: url(C:/Users/Albino/Desktop/website/img/indexbackground.jpg);
	background-size: 100% 100%;
	width: 1180px;
	height:660px;
	background-repeat:no-repeat;
	color:white;
}


		
